/* Seção Experiências de Trabalho */
.secao-experienciatrabalho {
    text-align: center;
    padding-top: 85px;
    padding-bottom: 75px;
  }
  
  .secao-experienciatrabalho-conteudo {
    margin: 0 auto;
  }
  
  .secao-experienciatrabalho-conteudo h2 {
    font-size: 42px;
  }
  
  .secao-experienciatrabalho-conteudo .paragrafo {
    font-size: 14px;
    max-width: 650px;
    margin: 30px auto 55px;
    padding-left: 10px;
    padding-right: 10px
  }
  
  .linha-amarela {
    border-bottom: 4px solid #feb633;
    width: 90px;
    margin: 15px auto;
  }
  
  /* Seção Card */
  .secao-card {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }

/* Responsividade */
@media screen and (max-width: 375px) {
  .secao-experienciatrabalho-conteudo .paragrafo {
      max-width: 300px;
  }
}