* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  padding-top: 75px;
}

.limita-secao {
  max-width: 1024px;
}


/* Estilos para trocar a cord de fundo da página*/
.bg-branco {
  background-color: #fff;
}

.bg-preto {
  background-color: #252525;
  border-color: #fff;
}

/* Seção Conteúdo e Cards */
.bg-branco2 {
  background-color: #f6f8fc;
  color: #8a8fa3;    
}

.bg-branco2 h2, .bg-branco2 h3 {
  color: #32333c;
}

.bg-preto2 {
  background-color: #393838;
  color: #CCCCCC;
}

.bg-preto2 .secao-card {
  color: #9F9F9F;
}

.bg-preto2 h3 {
  color: #fff;
}

/* Seção Topo */
.topo {
  position: fixed;
  width: 100%;
  top: 0;
}

.secao-topo {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 18px;
}

.secao-topo .botao {
  padding: 10px 10px 5px 10px;
  border-style: solid;
  border-radius: 25px;
  cursor: pointer;
}

.secao-topo button img{
  width: 20px;
  height: 20px;
}

/* Seção Banner */
.secao-banner {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.secao-banner-conteudo {
  color: #022144;
  padding-left: 25px;
  background-color: #fafbfc;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secao-banner-conteudo p {
  font-size: 14px;
}

.secao-banner-conteudo h1 {
  font-size: 48px;
  font-weight: 500;
}

.secao-banner-conteudo span {
  font-weight: bold;
  font-size: 42px;
}

.imagem_banner {
  background-color: #fff;
}

.imagem-banner img {
  height: 100%;
  padding-left: 35px;
}

/* Seção Experiências de Trabalho */
.secao-experienciatrabalho {
  text-align: center;
  padding-top: 85px;
  padding-bottom: 75px;
}

.secao-experienciatrabalho-conteudo {
  margin: 0 auto;
}

.secao-experienciatrabalho-conteudo h2 {
  font-size: 42px;
}

.secao-experienciatrabalho-conteudo .paragrafo {
  font-size: 14px;
  width: 650px;
  margin: 30px auto 55px;
}

.linha-amarela {
  border-bottom: 4px solid #feb633;
  width: 90px;
  margin: 15px auto;
}

/* Seção Card */
.secao-card {
  display: flex;
  width: 900px;
  margin: 0 auto;
}

/* Seção Rodapé */
.secao-rodape {
  padding-top: 75px;
}

.secao-rodape-conteudo {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secao-rodape-conteudo .paragrafo-rodape {
  color: #8a8fa3;
  text-align: center;
  margin-bottom: 35px;
  width: 500px;
}

.logo-rodape {
  margin-bottom: 35px;
}

.icone {
  width: 40px;
}

.secao-icones {
  display: flex;
  justify-content: space-evenly;
  width: 350px;
  margin-bottom: 75px;
}

.copyright {
  color: #8a8fa3;
  font-size: 14px;
  margin-bottom: 20px;
}

.copyright span {
  color: #feb633;
}